<div class="modal" [class.d-block]="confirmDeleteModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" (click)="confirmDeleteModalVisible = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this candidate?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmDeleteModalVisible = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="DeleteCandidate(selectedCandidateId)">Delete</button>



      </div>
    </div>
  </div>
</div>

<div class="modal" [class.d-block]="filterModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter Data</h5>
        <button type="button" class="close" (click)="closeFilterModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="startDate">Start Date:</label>
          <input type="date" class="form-control" id="startDate" [(ngModel)]="filterStartDate">
        </div>
        <div class="form-group">
          <label for="endDate">End Date:</label>
          <input type="date" class="form-control" id="endDate" [(ngModel)]="filterEndDate">
        </div>
      </div>
      <div class="form-group">
        <label for="position">Position:</label>
        <select class="form-control" id="position" [(ngModel)]="selectedPosition">
          <option value="">All Positions</option>
          <option value="Intern">Intern</option>
          <option value="ASE">ASE</option>
          <option value="SE">SE</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFilterModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="applyFilter()">Apply Filter</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" [class.d-block]="timeSlotModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Time Slot</h5>
        <button type="button" class="close" (click)="closeTimeSlotModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <select class="form-control" [(ngModel)]="selectedTime" (change)="closeTimeSlotModal()">
          <option value="">Select a time slot</option>
          <ng-container *ngFor="let timeSlot of timeSlots">
            <option *ngIf="timeSlot" [value]="timeSlot">{{ timeSlot }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5" >
  <h3>Create and add details of the interview</h3>
  <div class="card">
    <div class="card-header">Target Hunting</div>
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header text-center">Add Details</div>
            <div class="card-body">
              <form [formGroup]="Candidateformgroup" (ngSubmit)="OnSubmit()">
              <div class="row">
                <div class="col-sm-12 mb-3">
                   <label>Name</label>
                   <input type="text" formControlName="name" class="form-control" required />
                  </div>
                  <div class="col-sm-12 mb-3">
                    <label>Mobile no</label>
                    <input type="text" formControlName="mobileNo" pattern="[0-9]+" required class="form-control"/>
                   </div>
                   <div class="col-sm-12 mb-3">
                    <label>Email</label>
                    <input type="text" formControlName="email" required class="form-control"/>
                   </div>
                   <div class="col-sm-12 mb-3">
                    <label>Select position</label>
                    <select class="form-control" required formControlName="position">
                      <option>Intern</option>
                      <option>ASE</option>
                      <option>SE</option>
                    </select>

                   </div>
                   <div class="col-sm-12 mb-3">
                    <label>Date</label>
                    <input type="date" class="form-control" required formControlName="date" [(ngModel)]="selectedDate" (change)="onDateSelection()">
                    
                   </div>
                   <div class="col-sm-12 mb-3">
                    <label>Time Slot</label>
                    <div class="row">
                      <div class="col-sm-9 mb-3">
                        <input type="text" class="form-control" required formControlName="time" [(ngModel)]="selectedTime" readonly >
                      </div>
                      <div class="col-sm-3 mb-3">
                        <button type="button" class="form-control btn btn-dark" (click)="openTimeSlotModal()" [disabled]="timeSlotModalVisible">Select Time</button>
                      </div>
                    

                  
                  </div>


                   </div>
                   
                  
                   <div class="col-sm-12 mb-3">
                    <button class="btn btn-primary" type="submit">Allocate</button>
                   </div>
              </div>
            </form>
              </div>
        </div>
     </div>

        
    </div>
   
    <div class="col-sm-12 mt-5">
      <h3>Interview Details</h3>
      <div *ngIf="Candidateary.length==0" class="alert alert-info">
        No Candidates found </div>
      
        <div class="input-group mb-5">
          <select class="form-select" [(ngModel)]="selectedSortMethod">
            <option value="name-asc">Name (Ascending)</option>
            <option value="name-desc">Name (Descending)</option>
            <option value="date-asc">Date (Ascending)</option>
            <option value="date-desc">Date (Descending)</option>
          </select>
          <button class="btn btn-primary" (click)="sortCandidates()">Sort</button>
        </div>
        <div class="row mb-3">
          <div class="col-sm">
            <button class="btn btn-primary" (click)="openFilterModal()">Filter</button>
          </div>
          <div class="col-sm d-flex justify-content-end">
            <button class="btn btn-outline-secondary" (click)="resetFilter()">Reset Filter</button>
          </div>
        </div>



      <table class="table table-light table-striped" *ngIf="Candidateary.length>0">
        <thead class="table-dark">
          <tr>
            <td>Name</td>
            <td>Mobile no</td>
            <td>Email</td>
            <td>Position</td>
            <td>Date</td>
            <td>Time</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let cnd of (filteredCandidates.length > 0 ? filteredCandidates : Candidateary); let i = index">
            <tr *ngIf="i >= (currentPage - 1) * pageSize && i < currentPage * pageSize">
            <td>{{cnd.name}}</td>
            <td>{{cnd.mobileNo}}</td>
            <td>{{cnd.email}}</td>
            <td>{{cnd.position}}</td>
            <td>{{cnd.date}}</td>
            <td>{{cnd.time}}</td>
            <td>
              <div class="row">
              <div class="col-sm-6"><button (click)="FillForm(cnd)" class="btn btn-outline-info mr-5 ">Edit</button></div>
              <div class="col-sm-6"><button class="btn btn-outline-danger" (click)="openConfirmDeleteModal(cnd.id)">Delete</button></div>

            </div>
              
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <div class="row text-center">
        <div class="col-sm-6"><button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button></div>
        <div class="col-sm-6"><button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button></div>
      </div>
      
    </div>
  </div>
</div>
</div>